@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --font-primary: "Kreon", serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #e0b2ff;
  border-radius: 16px;
  width: 1042px;
  height: 76px;
  column-gap: 532px;
}

#logo {
  font-size: 28px;
  height: 29;
  width: 81;
  font-family: var(--font-primary);
}

header nav ul {
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 18px;
  font-size: 16px;
}

header nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: #ffffff;
}

.name {
  font-family: var(--font-primary);
  font-size: 34px;
}

.position,
.profissional-experience {
  font-family: var(--font-secondary);
  font-size: 16px;
}

.button-link {
  width: 224px;
  height: 48px;
  font-family: var(--font-primary);
  background-color: #e0b2ff;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
}

.button-link:active {
  background-color: #c97ffa;
}

#animation-img {
  background-color: #808080;
  border: none;
  border-radius: 50%;
  width: 303px;
  height: 289px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 955px;
  margin-top: 10%;
}

.title-section {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 0;
}

.line-subtitle {
  background-color: #e0b2ff;
  height: 3px;
  width: 79px;
  border: none;
  margin-top: 18px;
}

#technologies-section,
.items-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 62px;
  gap: 63px;
  width: 70%;
}

.technology {
  height: 135px;
  width: 120px;
  background-color: #e0b2ff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-technology {
  font-weight: 700;
  margin-top: 5px;
  font-family: var(--font-primary);
  font-size: 16px;
}

.img-technology {
  width: 72px;
  height: 74px;
}

.line-technology {
  width: 100%;
  border: none;
  background-color: #000000;
  height: 0.5px;
}

@media (max-width: 768px) {
  header {
    width: 70%;
    padding: 5px;
    height: auto;
    margin-top: 20px;
  }

  header nav ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    font-size: 14px;
  }

  .presentation-items {
    width: 75%;
    margin-top: 45px;
  }

  .position,
  .name,
  .profissional-experience,
  .button-link {
    text-align: center;
  }

  #animation-img {
    width: 180px;
    height: 170px;
    align-content: center;
    margin-top: 5%;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1040px) {
  header {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
  }

  #welcome-section {
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    align-items: center;
    width: 80%;
  }
}
