@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --font-primary: "Kreon", serif;
  --font-secondary: "Inter", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #e0b2ff;
  border-radius: 16px;
  max-width: 1042px;
  max-height: 76px;
}

#logo {
  font-size: 28px;
  height: 29;
  width: 81;
  font-family: var(--font-primary);
}

header nav ul {
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 18px;
  font-size: 16px;
}
